.footer {
    width: 100%;
    text-align: center;
    margin-top: 2rem;
    padding: 1.5rem 0 1.5rem 0;
    background-color: rgb(244, 244, 244);
    box-shadow:
    0.2px 0.5px 0.6px hsl(235 30% 62% / .25),
    1.1px 2.7px 3.3px -0.4px hsl(235 30% 62% / .25),
    2.1px 5px 6.1px -0.7px hsl(235 30% 62% / .25),
    3.5px 8.3px 10.1px -1.1px hsl(235 30% 62% / .25),
    5.6px 13.2px 16.1px -1.4px hsl(235 30% 62% / .25),
    8.7px 20.7px 25.3px -1.8px hsl(235 30% 62% / .25),
    13.3px 31.4px 38.4px -2.1px hsl(235 30% 62% / .25),
    19.6px 46.3px 56.6px -2.5px hsl(235 30% 62% / .25);
}

.footer ul, .footer a{
    padding: 1rem;
}

.footer ul {
    display: flex;
    justify-content: center;
}

.footer ul a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

@media (prefers-color-scheme: dark) {
    .footer {
        background-color: rgb(45, 45, 45);
    }

    .footer ul a > img {
        filter: invert(1);
    }
}