.title {
    padding-top: 1rem;
}

.list {
    padding-top: 1rem;
    list-style: none;
}

.list li {
    padding: 0.5rem 0 0.75rem 0;
}

.comment__flex {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.comment__flex > img {
    border-radius: 32px;
}

.comment__flex p {
    padding: 0.25rem 0 0.25rem 0;
}

.comment__flex small {
    margin-left: auto;
}

.time__mo {
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}

.form textarea {
    margin: 1rem 0 1rem 0;
    resize: none;
    font-family: "__Inter_9c9965";
    padding: 0.6rem 0.5rem 0.6rem 0.5rem;
    transition: all 100ms;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    font-size: 1rem;
}

.form__button {
    text-align: center;
}

/* Mobile */
@media (max-width: 700px) {
    .title {
        padding-top: 2rem;
    }

    .form {
        margin-top: 1rem;
    }

    .time__mo {
        display: block;
        font-size: 0.7rem;
        padding-top: 0.2rem;
    }

    .time__pc {
        display: none;
    }
}