
.card {
    padding: 1rem;
    border-radius: 15px;
    max-width: 25rem;
    background-color: rgb(var(--callout-rgb));
    border: 1px solid rgb(var(--callout-border-rgb));
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card__profile {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.card__profile__info {
    display: flex;
    flex-direction: column;
}

.profile__button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.profile__button > img {
    margin-right: 1rem;
    border-radius: 32px;
}

.card__grid {
    display: flex;
    flex-direction: column;
    gap: 0.15rem;
}

.card__image {
    position: relative;
}

.card__image > a {
    display: flex;
    position: relative;
    height: 25rem;
}

.card__image img {
    object-fit: cover;
}

.card__heart {
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
}

.button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    outline: inherit;
}

.card p, .card h4, .card small {
    color: rgb(var(--foreground-rgb));
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    height: 8rem;
    max-height: 8rem;
}

.likes {
    margin-top: auto;
    padding-bottom: 1rem;
}

.tags {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    
}