
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.h1 {
  padding-bottom: 2rem;
}

.tag__info {
  display: flex;
  padding-bottom: 1rem;
  gap: 1rem;
}

/* Mobile */
@media (max-width: 700px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (prefers-color-scheme: dark) {

}
